.box {
width: 400px;
height:700px;
text-align: center;
font-family: 'Jua', sans-serif;
background-color:lemonchiffon;
color:slategray;
    }

p {
font-family: 'Jua', sans-serif;
background-color:lemonchiffon;
color:slategray;

}