<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for article in articles %}
    <ul>
        <li>
            <a href="{%url 'detail' article.pk %}">{{ article.title }}</a>
        </li>
    </ul>
    {% endfor %}
    <a href="{% url 'new' %}">글 쓰러 가기</a>
</body>

</html>

<!-- 영화1,2,3 이 존재하는데 각 글을 누르면 이제 detail 페이지로 들어가지는거고 
for 문을 돌렸으니까 글의 갯수만큼 url이 돌아가는거지. 영화 1의 detail article pk ,영화 2의 -->